<div class="form-group">
	<label for="noteSearch">
		Search note:
	</label>
	<input id="noteSearch"
	       class="form-control"
	       type="text"
	       [(ngModel)]="searchTerm" />
</div>
<div class="notes"
     *ngFor="let note of noteArray | noteSearch:searchTerm; let i = index"
     [ngClass]="getTextColor(note)">
    <span class="noteId">
        {{i}}.
    </span>
    <span class="note">
        {{note.noteId}} - {{note.noteName | noteNameToUpper}}
    </span>
	<button class="btn btn-danger btn-sm note-btn delete-btn"
	        (click)="deleteNote(note)">
		Delete
	</button>
	<button class="btn btn-info btn-sm note-btn"
	        (click)="editNote(note)">
		Edit
	</button>
</div>

<button (click)="testEmit()">TEST EMIT</button>